html {
    font-size: 14px;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-amoisuntke {
    background-color: #DCDCFF;
}

.text-amoisuntke {
    color: #7e9ffb !important;
}

    
}
.main-container {
    position: relative;
    text-align: center;
}
    .main-container img {
        width: 1303px;
        height: 550px;
    }
.text-overlay {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}
.button{
    padding: 13px 16px;
    border-radius: 30px;
    text-transform: none;
    color: white;
    background-color: #7e9ffb;
    border: solid transparent;
    box-sizing: border-box;
    box-shadow: 10px, 5px;
    max-width: 150px; 
    margin-left: 120px;
}
    .button:hover {
        padding: 16px 19px;
        max-width: 170px;
        transition:1s;
    }
.main {
    width: 1303px;
    height: 550px;
    background-color: #DCDCFF;
}

.div-container{
    display:flex;
    justify-content: space-between;
    padding: 50px 50px;
    align-items: center;
}
.div-img{
    width:300px;
    height:300px
}

