@{
    ViewData["Title"] = "მთავარი ";
}

<div class="main-container">
    <a asp-area="" asp-controller="" asp-action="Index"> <img src="~/img/background.png" class= "img"/></a>
    <div class="text-overlay">
        <h1 class=main-text >ამოისუნქე</h1>
        <h4 class="text">ჰაერის მანქანის დამატენიანებელი გაასურნელე შენი მანქანა</h4>
        <button class="button" asp-area="" asp-controller="" asp-action="" >შეიძინე</button>
    </div>
</div>
<main class="main">
    <div class="div-container">
         <img class="div-img" src="~/img/main-logo.png" />
          <img class="div-img" src="~/img/main-logo2.png" />
           <img class="div-img" src="~/img/main-logo3.png" />
    </div>
</main>
